<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head',{}); %>
    <title>Document</title>
    <style>
        ul li {
          display: inline-block;
        }
        .content{
          border: 1px solid gray;
          border-radius: 15px;
          padding: 15px;
          margin: 20px auto;
        }
    </style>
</head>

<body>
  <%- include('daohang',{}); %>
    <div class="layui-container">
      <div class="layui-col-xs12">
        <% data.blogList.map(item=>{ %>
        <div class="content">
            <ul>
              <li>
                <a href="/xiangqing?_id=<%= item._id %>">
                  <div>
                    <h1><%= item.title %></h1>
                  </div>
                </a>
                <a href="/xiangqing?_id=<%= item._id %>">
                  <div>
                    <%= item.time %>
                  </div>
                </a>
                <a href="/xiangqing?_id=<%= item._id %>">
                  <div>
                    <%= item.author %>
                  </div>
                </a>
                <div class="set">
                  <a href="/write?_id=<%= item._id%>&page=<%= data.currPage %>">
                    <i class="layui-icon layui-icon-edit"></i>
                    修改
                  </a>
                  <a href="#">
                    <i class="layui-icon layui-icon-delete"></i>
                    删除
                  </a>
                </div>
              </li>
              <li>
                <a href="/xiangqing?_id=<%= item._id %>">
                  <%- item.content %>
                </a>
              </li>
            </ul>
          </div>
          <% }) %>
      </div>
      
     
      <div class="page w1100" style="float: right;">
          <!-- <span class="layui-badge layui-bg-cyan"><a href="/fenye">1</a></span>
        <span class="layui-badge layui-bg-cyan"><a href="/fenye">2</a></span>
        <span class="layui-badge layui-bg-cyan">3</span>
        <span class="layui-badge layui-bg-cyan">4</span>
        <span class="layui-badge layui-bg-cyan">5</span>
        <span class="layui-badge layui-bg-cyan">6</span> -->
          <% for(let i=1;i <=data.PagesTotle;i++){ %>

            <a href="/fenye?page=<%=i%>">
              <%= i %>
            </a>

            <%}%>
      </div>
    </div>
</body>

</html>