<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head',{}); %>
    <title>Document</title>
</head>

<body>
  <%- include('daohang',{userName}); %>

    <div class="layui-card layui-bg-cyan" style=" text-align: center;margin: 120px 80px;">
      <div class="layui-colla-content layui-show" style="text-align: left;color: white; ">
        <div class="layui-card-header" style="color: white;">
          <h1><%= data.title %></h1>
        </div>
        <div class="layui-card-body" >
          <span>作者：<%= data.author%></span>
          <span>发布时间:<%= data.time%></span>
          <div class="word">
            <%- data.content%>
          </div>
</body>

</html>